<header class="row align-items-center wall pl-3 pr-3">

  <div class="d-none d-md-block col-md-2">
    <a routerLink="dashboard"><img [src]="logoUrl" class="img-fluid rotateIn animated" style="max-width: 150px"/></a>
  </div>

  <div class="col-md-8 col-sm-12">
    <h1 class="text-center tada animated">{{title}}</h1>
  </div>

  <div class="d-none d-md-block col-md-2 text-right">
    Welcome {{userService.session.name}}<br/>
    <a *ngIf="userService.session.email.length" (click)="logOut()" routerLink="connection" >Log out</a>
  </div>
</header>
